!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Props'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Props'}"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = include_gon init: true
    = csrf_meta_tags
  %body
    %header
      #header-region
        = render 'layouts/navigation'
    %main
      .container
        #main-region
        = yield
    %footer.text-center
      (c)
      = link_to 'netguru', 'https://netguru.co'
      |
      Thanks to
      = succeed '!' do
        = link_to 'everybody involved', 'https://github.com/netguru/props/graphs/contributors'
